body {
    margin: 0;
    display: block;
    background-color: black;
}

#ham {
    max-width: 40px;
    min-width: 40px;
    margin: 4% 0 0 4%;
}

#top{
    display: flex;
    width: 100%;
    min-height: 300px;
    background-color: rgba(27, 26, 26, 0.733);
    padding: 0 0 0 0;
    margin: 0
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4% 0 0 4%;
}

#top a {
    /* border: solid red 3px; */
    text-decoration: none;
    overflow: hidden;
    color: rgb(72, 255, 0);
    font-size: 30px;
}

#cross {
    display: flex;
    max-width: 20px;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.607);
    color: black;
    border-radius: 30px;
    cursor: pointer;
}

#note {
    display: flex;
    justify-content: center;
    color: green;
    font-size: 60px;
}